header.header
	.container.header__container
		a(href="#").header__logo
			img(src="img/logo.svg", alt="")
		ul.header__menu.is-lg-visible
			li
				a(href="#") About
			li
				a(href="#") Tariffs
			li
				a(href="#") How buy
		.header__register.is-lg-visible
			a(href="#").btn.btn-base Register
		a.btn.btn-mobile-menu.is-lg-hidden
		